*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100px;
    /*background-color: #263859;*/
    background-image: url(https://miro.medium.com/max/2560/1*GsImz-edoeuqCMfKxDus0w.jpeg);
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
    
}
h1{
    
  
    padding-top: 3%;
    padding-bottom: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 70px;
    color: rgb(217, 245, 231);
    
    background-image: url(bg.jpeg);
    text-shadow: 1px 1px 2px rgb(22, 21, 21), 0 0 1em rgb(10, 10, 14), 0 0 0.2em rgb(12, 12, 15);
    background-attachment:fixed,local,scroll;
    background-size: contain;
  background-repeat: repeat;
  
    
}

#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#temp{
    text-align: center;
}
#temp #temp-unit{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.5rem;
    color: white;
    text-shadow: rgb(2, 15, 44) 1px 0 10px,2px 2px #1b1919;
    text-indent: inherit;
}
#temp #temp-value{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: rgb(2, 15, 44) 1px 0 10px,2px 2px #1b1919;
}
#climate{
    font-family:cursive;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    text-shadow: rgb(2, 15, 44) 1px 0 10px,2px 2px #1b1919;
}
#location{
    font-family:cursive;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    text-shadow: rgb(2, 15, 44) 1px 0 10px,2px 2px #1b1919;
}
#temp-icon{
    margin: 1rem;
    width: 40%;
    height: auto;
}
main{
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(17, 88, 182, 0.315);
    border-radius: 20px;
    width: 360px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.2);
}
#search-button{
    color:rgb(244, 248, 244);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow:1px 1px #1b1919 ;
    text-transform: uppercase;
    text-decoration: none;
    background: #384b8a;
    font-weight: bold;
    border-radius: 5px;
    

    margin-left: 5px;
    padding: 8px;
    border: 5px;
    
    border-color: rgb(40, 104, 207);
    border-style: groove;
    display: inline-block;
    transition: all 0.4 ease 0s;
    
}
#search-button:hover{
    color: aliceblue;
    
    background: #384b8a;
    border-color: rgb(99, 169, 190);
    transition: all 0.4s ease 0s;
    border-style: double;
}
#search-input{
    width: 260px;
    overflow: hidden;
    font-size: 20px;
    margin: 8px 0;
    padding:8px 0;
    font-family: cursive ; 
    
   border-color: rgb(12, 51, 65);
    border-bottom-style: groove;
    color: rgb(56, 12, 160);
    outline: none;
    background: local;
    box-shadow: inset;
    
}
input{
    text-transform: capitalize;
    padding: 5px 0;
    font-size: large;
    font-family: "Gill Sans", sans-serif; 
    border: none;
}
